<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="XFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--SQL Server-->
    <!--<add key="SQLString" value="Database=XBabySwim;Data Source=DESKTOP-A3MT7H5\MSSQLSERVER_R2;User Id=sa;Password=1;Connect Timeout=30"/>-->
    <add key="SQLString" value="Database=XBabySwim;Data Source=47.92.194.221;User Id=hebe_user;Password=$L00YQJxPcB!xz6L;Connect Timeout=30"/>
    <!--<add key="SQLString" value="Database=SystemDatabase_Test;Data Source=GF-PYDD-01;User Id=sa;Password=gwD119;"/>-->
    <add key="DataDAL" value="XF.SQLServerDAL"/>
    <!--Access-->
    <!--<add key="SQLString" value="~/App_Data/SystemDatabase.mdb"/>
    <add key="DataDAL" value="RGP.OleDBDAL" />-->
    <!--用户授权-->
    <add key="UserGrant" value="True"/>
    <!--分组授权-->
    <add key="GroupGrant" value="True"/>
    <!--角色授权-->
    <add key="RoleGrant" value="True"/> 
    <!--CHINT Setting Start-->
    <!--工厂代码-->
    <add key="FactoryCode" value="F001"/>
    <!--仓库代码-->
    <add key="WarehouseCode" value="W001"/>
    <!--设备信息采集 Begin-->
    <!--延时校验 Begin-->
    <!--三台校验仪的Model-->
    <add key="Models" value="63|125|250"/>
    <!--cell线编号-->
    <add key="CellLineNo" value="cell01"/>
    <!--是否精简显示调试信息-->
    <add key="IfSimpleDebug" value="False"/>
    <!--扫描枪串口号-->
    <add key="ScanComm" value="0"/>
    <!--扫描枪波特率-->
    <add key="ScanBaudRate" value="4"/>
    <!--延时校验 End-->
    <!--设备信息采集 End-->
    <!--数据缓存时间（单位：分钟）-->
    <add key="ModelCache" value="60"/>

    <add key="ProjectName" value="HABA辨豆儿童馆管理系统"/>
    <add key="ProjectIcon" value="./logo64.ico"/>
    <add key="TextForeColor" value="#61C0C2"/>
    <add key="TryOutCourseID" value="29"/>
    <add key="EvaluateFilePath" value="./Evaluate/"/>
    <add key="ApiUrl" value="http://www.yqhaba.com"/>
    
    <!--CHINT Setting End-->
  </appSettings>
  <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
    <XFramework.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>
        </value>
      </setting>
    </XFramework.Properties.Settings>
  </userSettings>
</configuration>
