
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>绑定成功</title>
</head>
<body>
    <div>
        <img style="margin:auto;display:block;padding:30px;" src="~/img/Bind.png" alt="">
        <h2 style="margin:30px 0;font-weight:400;text-align:center;line-height: 36px;font-size:24px;">绑定成功</h2>
    </div>
</body>
</html>
